#!/bin/bash

#Display ports used by localstack
localports(){
  local result="	
	API Gateway at http://localhost:4567
	Kinesis at http://localhost:4568
	DynamoDB at http://localhost:4569
    	DynamoDB Streams at http://localhost:4570
    	Elasticsearch at http://localhost:4571
    	S3 at http://localhost:4572
    	Firehose at http://localhost:4573
    	Lambda at http://localhost:4574
    	SNS at http://localhost:4575
    	SQS at http://localhost:4576
    	Redshift at http://localhost:4577
    	ES (Elasticsearch Service) at http://localhost:4578
    	SES at http://localhost:4579
    	Route53 at http://localhost:4580
    	CloudFormation at http://localhost:4581
    	CloudWatch at http://localhost:4582
    	SSM at http://localhost:4583
    	SecretsManager at http://localhost:4584
    	StepFunctions at http://localhost:4585
    	CloudWatch Logs at http://localhost:4586
    	STS at http://localhost:4592
    	IAM at http://localhost:4593
	"

	printf "%s" "$result"
	printf "\\n"
}

# Create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}

# Get application that use a given port
port(){
  local pid=`lsof -i :$@ | awk '{print $2}'`
  local cmdline=`ps -ef | grep $pid`
  printf "%s" "$cmdline"

}

getpass(){
 lpass show --password $* | tr -d '\n' | xclip
}


xrandrHomeFull() {
	# This function sets the xrandr display modes for home.
	xrandr --output eDP-1 --primary --mode 1920x1080 --rate 60 --pos 0x0 \
		--output DP-1 --auto  --pos 1920x0
}


xrandrHomeWide(){
	xrandr --output DP-1 --primary --auto \
		--output eDP-1 --off
}

cda() {
	old=$1
	new=$2	
#	echo "Params : old=$old new=$new"
	curdir=`pwd`
	newpath=${curdir/$old/$new}
#	echo "Changing from $curdir to $newpath"
	cd $newpath
}

aws_ssh() {
  sshac $@
}

pssh(){
  docker run -it --rm -v ~/.ssh:/home/user/.ssh -v $(pwd):/conf -v $(dirname $SSH_AUTH_SOCK):$(dirname $SSH_AUTH_SOCK) -e SSH_AUTH_SOCK=$SSH_AUTH_SOCK --workdir /conf -e PASS=`echo $PASS` -e LOCAL_USER_ID=`id -u $USER` pssh:latest parallel-ssh -i $@
}


